aws_region   = "us-east-1"
project_name = "hotel-reservation"

vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.10.0/24", "10.0.11.0/24"]

# Restrict ALB access to your IP/CIDR.
allowed_ingress_cidrs = ["203.0.113.10/32"]

# hotelReservation runtime config.
tls                 = "0"
gc                  = 100
jaeger_sample_ratio = 0.01
memc_timeout        = 2
log_level           = "INFO"
